 body {
            object-fit: cover;
            font-family: 'Arial', sans-serif;
background-image: linear-gradient(to right bottom,bisque,black);            
background-size: cover;

        }
        .restaurant-cards-container{
    display: flex;
        }
        .side-menu{
            height: 100vh;
            width: 0;
            padding-top: 20px;  background-color: rgba(46, 17, 17, 0.3);
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: width 0.2s ease-out;
            text-align: center;
           overflow: hidden;
           top: 10px;
            height: 100%;
            z-index: 1;
        } 
        .side-menu ul{
            list-style-type: none;
            padding: 0;
            border-color:bisque;
            box-shadow:bisque;
        }
        .side-menu li {
            margin-bottom: 20px;
            padding: 10px; ;
            border-color:bisque;
            border-radius: 2px;
            text-align: center;
            color:bisque;
            font-family: cursive;  
        font-weight: bold;      }



        .restaurant-card {
            border: 1px solid #e0c8a9;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(226, 207, 183, 0.896);
            background-color: rgba(255, 228, 196,0.5); 
           
            overflow: hidden;
            margin: 30px;
            width: 300px; /* Three cards per row with margins */
            float: left;
            height: 350px;
           
        }

        .restaurant-card img {
       height: 250px;
       width: 400px;
       object-fit: cover;
        }


        .restaurant-name {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .restaurant-description {
            font-size: small;
            margin-top: 5px;
            background-color:rgba(255, 225, 186,0.5);
            
           
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-style: italic;
           
            
        }
        .side-menu a {
    text-decoration: none;
    color: antiquewhite;
    
}
    .side-menu a:hover{
    color: black;
}

.content{
    padding: 45px;
}
.restaurant-cards-container.side-menu-open .side-menu{
    width: 250px;

}
.menu-button {
    height: 30px; 
    width: 30px; 
    font-size: large; 
    background-color: transparent; 
    cursor: pointer;
    outline: none;
    padding: 10px 15px;
}

.menu-button:hover{
    background-color:#e0c8a9;
   
}

ul li:hover{
    background-color:#e0c8a9;
    border-radius: 20px;
    color: black;
}



